/* CSS Document */
#wrapper {
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #66CC00;
}

.cat_links {
  display: block;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #0000FF;
  margin-bottom: 5px;
  background-color: #CC9900;
  color: #CCCCCC;
}

.cat_links:hover {
  background-color: #00CCCC;
  text-decoration: none;
  color: #000000;
  font-size: 18px;

}

#wrapper {
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 100px;
  margin: 0 auto;
  float: left;
  border: solid 1px #cbcbcb;
  background-color: #fff;
  border: 1px solid #F1F1F1;
  -moz-box-shadow: 0 2px 20px #cbcbcb;
  -webkit-box-shadow: 0 2px 20px #cbcbcb;
  box-shadow: 0 2px 20px #cbcbcb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  line-height: 20px;

}

.uinfo {
  float: right;
  margin-right: 100px;
  display: block;
  color: #FFFFFF;
  background-color: #000000;
}

#buttons {

  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 2px solid #63a62f;
  box-shadow: 0 2px 3px #666666;
  -moz-box-shadow: 0 2px 3px #666666;
  -webkit-box-shadow: 0 2px 3px #666666;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #fff;
  font: 13px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  text-shadow: 0 -1px 0 #4c9021;
  width: auto;
}

#buttons:hover {
  background-color: #f37873;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
  background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  cursor: pointer;
}

#buttons:active {
  background-color: #d43c28;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
  background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
  background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
  background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
  background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
  background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
}

#can_button {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 2px solid #63a62f;
  box-shadow: 0 2px 3px #666666;
  -moz-box-shadow: 0 2px 3px #666666;
  -webkit-box-shadow: 0 2px 3px #666666;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #fff;
  font: 13px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  text-shadow: 0 -1px 0 #4c9021;
  width: auto;
}

.button {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50;
  /* Green */
  color: white;
}
